h1{
		color: #c41d00;
		background-color: white;
		width: 100vw;
		
}
h3{
	color: #7a1200;
	border-bottom: 1px solid black;

}

h5{
	color: #037784;
	font-size: 1.25rem;
	position: static;
}

ul{
	background-color : #bedfe2; 
}

th{
	color : #050072
}

#coverPhoto{
	float:left;
}

.theFam{
	clear: left;
}

.fixedHead{
	position: fixed;
	top: 10px;
}

table{
	
	border: solid;
	border-color: #002f65;
	margin-left: auto;
	margin-right: auto;
}

#playlist{
	border : .2rem solid #b20a0a;
	font-size: 2rem;
	font-weight: bold;
	color: #8c0909;
	text-align: center;
	margin: 1rem;
}
 
 .gray{
	 color: #96999e;
 }
 
 .title{
	 font-size: 2rem;
	 border-left: 1px solid black;
	 padding-left: .25em;
 } 
 
 
body{
	font-size: 120%;
	font-family: calibri;
}


a:link{
	color: #ff002e;
}

a:visited{
	color: #c18326;
}

a:hover, a:focus{
	color : #32b4ff;
}

