/*
Guess a number CSS
*/

#bar{
	width: 30rem;
	height: 2rem;
	margin: 2rem;
	border: 1px solid purple;
}

#left{
	display: inline;
	float: left;
	height: 2rem;
	width: 0.01rem;
	background-color: red;
}

#right{
	display: inline;
	float: right;
	height: 2rem;
	width: 0.01rem;
	background-color: red;
}

#container
{
border: 	  2px solid  black;
height: 	  10em;
line-height:  .9em;
margin-left:  auto;
margin-right: auto;
position:	  relative;
width:		  30em;
}

.confetti
{
font-size: 3em;
position:  absolute;
}